* {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  padding: 2em;
  background: black;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.fun-fact {
  font-size: 3em;
  font-weight: 800;
  color: white;
  text-shadow: 0 0 10px red;
}

.version {
  display: box;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
